<div class="padding-sm">
  <div *ngIf="tooManyAlertMessageIndicator == true" class="alert alert-warning">
    <strong>Warning!</strong> {{tooManyAlertMessage}}
  </div>
  <ng-template #rt let-r="result" let-t="term">
    <img [src]="'https://image.eveonline.com/Type/'+r['typeID']+'_32.png'"width="32">
    {{r.typeName}}
  </ng-template>
  <label for="typeahead-template">Search for an Item Name:</label>
  <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"/>
  <label>Region: </label>
  <select [(ngModel)]="selectedRegionId" (change)="selectRegion()" style="width: 175px">
    <option *ngFor="let region of regions" [value]="region.regionID">{{region.name}}</option>
  </select>
  <label *ngIf="selectedRegionId">Station: </label>
  <select *ngIf="selectedRegionId" [(ngModel)]="selectedStationID"  style="width: 175px">
    <option [value]="0"></option>
    <option *ngFor="let station of stations" [value]="station.stationID">{{station.stationName}}</option>
  </select>
  <button [disabled]="selectedRegionId == undefined || model == undefined" (click)="getOrder()">Search</button>
  <div *ngIf="selectedItem != undefined">
    <div><h3>{{selectedItem.typeName}}</h3></div>
    <div class="row">
      <div class="col-lg-2">
        <img [src]="'https://image.eveonline.com/Type/'+selectedItem['typeID']+'_64.png'"width="128">
      </div>
      <div class="col-lg-10">
        {{selectedItem.description}}
        <div class="row">
          <div class="col-lg-6">{{"Mass: " + selectedItem.mass}}</div>
          <div class="col-lg-6">{{"Volume: " + selectedItem.volume}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<p style="height: 40px">
  <ngb-alert *ngIf="alertMessage" type="{{alertType}}" (close)="alertMessage = null">{{ alertMessage }}</ngb-alert>
</p>
<div class="row" *ngIf="searched">
  <table class="table table-striped table-hover col-lg-12" style="table-layout: fixed; width: 100%;">
    <thead class="thead-inverse">
    <tr>
      <th style="width: 15%">ISSUED</th>
      <th style="width: 20%" (click)="sortPrice()">PRICE <span class="{{sortIcon}}" aria-hidden="true"></span></th>
      <th style="width: 10%">VOLUME</th>
      <th style="width: 55%">LOCATION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of pages; let ind = index" [class]="alertColor(item)">
      <td>{{item.issued | date:'shortDate'}}</td>
      <td>{{item.price | number:'.2'}}</td>
      <td>{{item.volume_remain}}</td>
      <td>{{item.stationName}}</td>
      <span style="float: right">
        <div class="btn-group" ngbDropdown #myDrop="ngbDropdown">
          <button *ngIf="item.quantity == null || !checkCart(item); else elseBlock" type="button" class="btn btn-primary" (click)="addToCart(ind)">Add</button>
          <ng-template #elseBlock>
            <button type="button" class="btn btn-primary" (click)="addToCart(ind)">Update</button>
          </ng-template>
          <button class="btn btn-primary   dropdown-toggle-split" ngbDropdownToggle>{{item.quantity}} </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button *ngIf="item.quantity && checkCart(item)" class="dropdown-item" (click)="changeQuantity(ind,0); myDrop.close()">0</button>
            <button *ngIf="item.volume_remain >= 1" class="dropdown-item" (click)="changeQuantity(ind,1); myDrop.close()">1</button>
            <button *ngIf="item.volume_remain >= 2" class="dropdown-item" (click)="changeQuantity(ind,2); myDrop.close()" >2</button>
            <button *ngIf="item.volume_remain >= 3" class="dropdown-item" (click)="changeQuantity(ind,3); myDrop.close()">3</button>
            <button *ngIf="item.volume_remain >= 4" class="dropdown-item" (click)="changeQuantity(ind,4); myDrop.close()">4</button>
            <button *ngIf="item.volume_remain >= 5" class="dropdown-item" (click)="changeQuantity(ind,5); myDrop.close()">5</button>
            <button *ngIf="item.volume_remain >= 6" class="dropdown-item" (click)="changeQuantity(ind,6); myDrop.close()">6</button>
            <button *ngIf="item.volume_remain >= 7" class="dropdown-item" (click)="changeQuantity(ind,7); myDrop.close()">7</button>
            <button *ngIf="item.volume_remain >= 8" class="dropdown-item" (click)="changeQuantity(ind,8); myDrop.close()">8</button>
            <button *ngIf="item.volume_remain >= 9" class="dropdown-item" (click)="changeQuantity(ind,9); myDrop.close()">9</button>
            <button *ngIf="item.volume_remain >= 10" class="dropdown-item" (click)="changeQuantity(ind,10); myDrop.close()">10</button>
            <button class="dropdown-item" disabled><input (keydown)="enterAmount(ind, $event, box.value, myDrop)" #box style="width: 40px" type="" placeholder="{{item.quantity}}"></button>
          </div>
        </div>
      </span>
    </tr>
    </tbody>
    <tr *ngIf="orders.length == 0 && searched"><td colspan="4">No Results Found</td></tr>
    <div *ngIf="orders.length != 0">
      <ngb-pagination (pageChange)="setPages()" [collectionSize]="orders.length" [pageSize]="pageSize" [(page)]="page"></ngb-pagination>
    </div>
  </table>
</div>
