.form-control {
  width: 300px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.parent {
  position: relative;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


