<div *ngIf="!validEFT">
  Not a valid EFT
</div>
<div class="row">
  <div class="col-lg-6">
    <textarea (paste)="parseEFT()" rows="30" cols="70" placeholder="Paste EFT Here" [(ngModel)]="EFT">{{EFT}}</textarea>
  </div>
  <div class="col-lg-6">
    <div *ngIf="highSlot != undefined">
      <ul>High Slot
        <li *ngFor="let item of highSlot">
          {{item.name + ' x' + item.quantiy}}
        </li>
      </ul>
      <ul>Mid Slot
        <li *ngFor="let item of midSlot">
          {{item.name + ' x' + item.quantiy}}
        </li>
      </ul>
      <ul>Low Slot
        <li *ngFor="let item of lowSlot">
          {{item.name + ' x' + item.quantiy}}
        </li>
      </ul>
      <ul>Rig Slot
        <li *ngFor="let item of rigSlot">
          {{item.name + ' x' + item.quantiy}}
        </li>
      </ul>
      <ul>Drone Bay
        <li *ngFor="let item of droneSlot">
          {{item}}
        </li>
      </ul>
      <ul>Charges
        <li *ngFor="let item of chargeSlot">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
</div>

