<div *ngIf="missingAlertMessageIndicator == true" class="alert alert-danger">
  <strong>Warning!</strong> {{missingAlertMessage}}
</div>

<div *ngIf="tooManyAlertMessageIndicator == true" class="alert alert-warning">
  <strong>Warning!</strong> {{tooManyAlertMessage}}
</div>
<div class="row">
  <table style="margin-bottom: 200px" class="table table-striped table-hover col-lg-12">
    <thead class="thead-inverse">
    <tr>
      <th>Order #</th>
      <th>Item</th>
      <th>Location</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody *ngIf="cart !== undefined" >
    <tr *ngFor="let item of cart; let ind = index " [class]="alertColor(item)">
      <ng-template #tipContent>
        <div class="row" style="width: 280px">
          <div class="col-lg-3">
            <img [src]="'https://image.eveonline.com/Type/'+item.type_id+'_64.png'"width="64">
          </div>
          <div class="col-lg-9">
            {{item.item.description}}
          </div>
        </div>
      </ng-template>
      <td>{{item.order_id}}</td>
      <td><a placement="bottom" [ngbPopover]="tipContent" triggers="mouseenter:mouseleave" popoverTitle={{item.item.typeName}}>{{item.item.typeName}}</a></td>
      <td>{{item.stationName}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.price | number:'.2'}}
        <div ngbDropdown class="d-inline-block" style="float: right">
          <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Action</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="removeFromThisCart(ind)">Remove</button>
            <button class="dropdown-item" [routerLink]="['/search']" [queryParams]="{region_id: item.region_id, type_id: item.type_id}">Redo Search In Region</button>
            <button class="dropdown-item" [routerLink]="['/search']" [queryParams]="{region_id: item.region_id, station_id: item.location_id, type_id: item.type_id}">Redo Search In Station</button>
            <button class="dropdown-item" (click)="removeFromThisCart(ind)" [routerLink]="['/search']" [queryParams]="{region_id: item.region_id, type_id: item.type_id}">Remove & Redo Search In Region</button>
            <button class="dropdown-item" (click)="removeFromThisCart(ind)" [routerLink]="['/search']" [queryParams]="{region_id: item.region_id, station_id: item.location_id, type_id: item.type_id}">Remove & Redo Search In Station</button>
          </div>
        </div>
        <!--<span>-->
          <!--<button #deleteButton class="btn btn-primary btn-sm" style="float: right" (click)="removeFromThisCart(ind); deleteButton.disabled = true" title="remove">Remove</button>-->
        <!--</span>-->
      </td>
    </tr>
    </tbody>
    <div>Total: {{totalSum | number:'.2'}} </div>
  </table>
</div>
