<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Login Page</title>-->
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
<!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!--<link rel="stylesheet" href="loginstyle.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--<div class="panel panel-primary center">-->
<!--<div class="panel-heading">Please Log in Below</div>-->
<!--<form name="loginForm" action="@{/login}" method="post" class="sign-in">-->
<!--<label for="username">Username:</label>-->
<!--<input type="text" id="username" name="username" class="form-control" placeholder="Username">-->
<!--<label for="password">Password:</label>-->
<!--<input type="password" id="password" name="password" class="form-control" placeholder="Password">-->
<!--<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>-->
<!--</form>-->
<!--<br>-->
<!--If you are new user, please <a href="register.html">register</a>.-->
<!--</div>-->
<!--</div>-->


<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
<!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
<!--crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->


<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Please Login</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/logstyle.css">
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
<div class="container">
    <div th:fragment="content">
        <form name="f" th:action="@{/login}" method="post" class="sign-in">
            <fieldset>
                <legend>Please Login</legend>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control"/>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control"/>
                <div class="form-actions">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
                </div>
                <div>If you are new user, please <a href="register.html">register</a>.</div>
            </fieldset>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </div>
</div>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>